html,body {
	padding: 0;
	margin: 0;
}

header {
	background: url("../australian/header_background.jpg") no-repeat;
	background-size: 100% 100%;
}

#dash {
	width:900px;
}

.clear-fix {clear: both;}

.navigation {
	background-color: #4f5050;
	height: 35px;
}

ul.topnav {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: inline-block;
	color: white;
	border-right: 1px solid black;
	text-align: center;
	padding: 0 20px;
	transition: 0.3s;
	font-size: 17px;
	line-height: 35px;
}

ul.topnav li a:hover {
	background-color: #e8e7e8;
	cursor: pointer;
}

ul.topnav li.icon {display: none;}

ul.topnav li img {
	padding-top: -5px;
}

footer {
	background-color: #4f4f4f;
	display: table;
	width: 100%;
	color: white;
}

#footer a {
	text-decoration: none;
	color: #dbdbdb;
}

#footer ul li {list-style: none;}


@media only screen and (max-width: 999px){
	.hidden-xs {
		display: none;
	}

	#logo {
		width: 70px;
		margin-top: 5%;
		margin-left: 45%;
	}

	#cart_sumary {
		color:white;
		margin-top: -1px;
	}

	#cart_sumary img {
		margin-top: 7px;
	}
	
	#house_icon {
		margin-top:10px;
	}
	ul.topnav li a {
		border: none;
	}
	
	ul.topnav li:not(:first-child) {display: none;}
	


	ul.topnav li.icon {
		float: right;
		display: inline-block;
	}
	
	ul.topnav.responsive{position: relative;}

	ul.topnav li a:hover {
		background-color: #e8e7e8;
		cursor: pointer;
	}

	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}

	ul.topnav.responsive li a{
		display: block;
		text-align: left;
		background-color: #4f5050;
	}
	
	#info-header {
		width: 100%;
		text-align: center;
	}

	#join_maling_list,#currency_trans,#lang_trans {
		display: inline-block;
	}

	#footer {
		margin-left: -15px;
	}

	#social {
		display: none;
	}
	
	#search_item input {
		background: white url("../australian/search-icon.jpg") right no-repeat;
		padding-right: 30px;
		cursor: pointer;
	}

	.inline_div {
		text-align: center;
		margin-bottom: 5%;
	}
	
	#bx-pager {
		margin-top: -50px;
	}

	#bx-pager img {
		width: 40%;
		float: left;
		margin-left: 7%;
		padding: 1%;
		height: 65px;
	}

	.container_product {
		text-align: center;
	}

	.container_product span {
		color:#009bdf;
		font-size: 20px;
	}
	
	#container_product_left img {
		width: 50%;
	}
	
	#container_product_left p {
		padding: 2%;
	}
	#dash {
		width:50%;
	}

	.item_top {
		width: 300px;
		margin: auto;
		margin-bottom: 10px;
	}

	.item_top div {
		width: 300px;
		color: white;
		background-color: #00b5c9;
		margin-top: -5px;
		text-align: left;
	}

	.item_top_img {
		width: 300px;
		height: 250px;
	}

	.item_top_btn_buy {
		width: 100px;
		float: right;
	}

	.item_top div span{
		color:white;
		font-size: 15px;
		margin-left: 2%;
		margin-top: 2%;
		font-style: italic;
	}
	
	#first_footer,#second_footer,#third_footer,#last_footer {
		padding: 50px;
		height: 10px;
		margin-left: 10%;
	}
	
	#first_footer p {
		float: left;
		font-size: 14px;
		font-family: 'Arial';
		width: 50%;
	}
	
	#third_footer #info {
		font-size: 9px;
		font-family: 'Arial';
	}

	.footer_contain {
		float: left;
		height: auto;
	}

	.footer_contain img {
		width: 250px;
	}

	#slider_child {
		background: url('../australian/background_slider.png');
		height: 80px;
	}
}

@media only screen and (min-width: 999px){
	#logo {
		padding:10px;
	}
	#search_item,#cart_sumary {
		float: right;
		margin-top: 14px;
		line-height: 20px;
	}

	#cart_sumary {
		color:white;
		font-family: Myriad Pro;
		font-size: 15.75px;
	}

	#cart_sumary img {
		margin-left: 14px;
	}

	#info-header {
		font-family: "Myriad Pro";
		font-size: 15.5px;
		color:#009bdf;
		text-align: right;
		margin-top: 10px;
	}

	#join_maling_list,#currency_trans,#lang_trans {
		display: inline;
	}

	#currency {margin-left: 2%;}

	#flag {margin-right: 1%;}

	#search_item input {
		background: white url("../australian/search-icon.jpg") right no-repeat;
		cursor: pointer;
		font-size: 15px;
		width: 238px;
		border: none;
		font-family: 'italic';
		font-style: italic;
	}

	.container {
		width: 980px;
		margin: 0 auto;
	}

	.inline_div {
		display: inline-block;
	}

	#slider_child {
		background: url('../australian/background_slider.png');
		padding-top: 5px;
		margin-top: -170px;
	}

	#bx-pager img {
		width: 236px;
		height: 130px;
		margin:10px 0;
		margin-left: 6px;
	}

	#social {
		right:0;
		position: fixed;
		top: 205px;
	}

	#social a {
		display: block;
		position: relative;
		margin-top: 10px;
		box-shadow: 3px 1px 30px 0px #cecfd0;
	}

	#main_content_product {background-color: #f2f2f2;}

	.container_product {
		border-left: 1px solid #e8e7e8;
		border-right: 1px solid #e8e7e8;
		background-color: white;
		overflow: hidden;
		box-shadow: 3px 1px 30px 0px #cecfd0;
	}

	#container_product_left span {
		color:#009bdf;
		font-size: 30px;
	}
	

	#container_product_right span {
		font-size: 27.69px;
		font-family: "Myriad Pro";
		text-align: right;
	}
	
	#container_product_right {
		text-align: center;
		margin:auto;
	}

	.container_product p {
		font-family: "Myriad Pro";
		font-size: 15px;
		width: 230px;
		padding: 5%;
	}

	.container_product_item {
		width: 50%;
		float: left; 
		margin-bottom: 2%;
		padding-top: 20px;
	}

	.item_top {
		height: 308px;
		width: 292px;
		float: left;
		margin-left: 2%;
		margin-bottom: 25px;
	}

	.item_top div {
		height: 60px;
		color: white;
		background-color: #00b5c9;
		margin-top: -5px;
		text-align: left;
		padding: 20px;
		font-family: "Myriad";
		font-size:17.5px;
	}

	.item_top_img {
		width: 292px;
		height: 216px;
	}

	.item_top_btn_buy {
		width: 98px;
		height: 18px;
		float: right;
	}

	#top_sell_items {background-color: white;}

	#top_sell_span{
		color:#009bdf;
		font-size: 30px;
		margin-left: 2%;
		margin-top: 2%;
		font-style: italic;
	}
	
	#first_footer,#third_footer {
		width: 350px;
		margin-top: 26px;
	}
	
	#second_footer,#last_footer{
		margin-left: 90px;
		margin-top: 26px;
	}

	#first_footer p {
		float: left;
		font-size: 14px;
		font-family: 'Arial';
		width: 50%;
	}
	
	#third_footer #info {
		font-size: 9px;
		font-family: 'Arial';
	}

	.footer_contain {
		float: left;
	}
}
